body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Previne rolagem horizontal */
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

nav {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente escondido */
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
}

nav.open {
    left: 0; /* Mostra a barra de navegação */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    transition: background-color 0.3s, padding-left 0.3s;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
    padding-left: 20px;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    margin-top: 60px; /* Espaço para a barra de navegação */
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #333;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        width: 100%;
    }

    main {
        margin-top: 0;
    }
}
